*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

main{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.dataOut{
    position: relative;
    margin: 20px auto;

}

.card{
    border-radius:10px;
    border: solid 1px #222;
    overflow: hidden;
}

.card__precioInicial, .card__precioFinal{
    text-align:center;
    font-size:3rem;
    color: #ddd;
    background-color:#222;
    font-family: cursive;
}


.card__descuento{
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    background-color: tomato;
    position: absolute;
    top: -5%;
    right: -10%;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:2.5rem;
    font-family: cursive;
    color: white;
    transition: all 1s;
}

.card__descuento:hover{
    width: 15rem;
    height: 15rem;
    font-size:3.5rem;
    background-color: #222;
}

.card__precioInicial{
    text-decoration: line-through;
}

button{
    padding:15px;
    background-color:  rgb(72, 158, 255);
    color: #fff;
    font-size:2rem;
    border-radius: 15px;
    outline:none;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color:  rgb(58, 127, 207);
}





